/*
* Author: Girault Mickael
* Template:  Nate Bootstrap Theme
* Version: 1.0
* Bootstrap version: 2.3
*/

/* ===== #client ===== */

.client-container {
-webkit-perspective: 1000;
-moz-perspective: 1000;
-o-perspective: 1000;
perspective: 1000;
}
  /* flip the pane when hovered */
  .client-container:hover .client-flipper, .client-container.hover .client-flipper {
-webkit-transform: rotateY(180deg);
-moz-transform: rotateY(180deg);
-o-transform: rotateY(180deg);
-ms-transform: rotateY(180deg);
transform: rotateY(180deg);
  }

.client-container, .client-front, .client-back {
  width: 150px;
  height: 150px;
}

/* flip speed goes here */
.client-flipper {
-webkit-transition: 0.6s;
-moz-transition: 0.6s;
-o-transition: 0.6s;
-ms-transition: 0.6s;
transition: 0.6s;
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.client-front, .client-back {
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-o-backface-visibility: hidden;
backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* front pane, placed above back */
.client-front {
  z-index: 2;
}
/* back, initially hidden pane */
.client-back {
-webkit-transform: rotateY(180deg);
-moz-transform: rotateY(180deg);
-o-transform: rotateY(180deg);
-ms-transform: rotateY(180deg);
transform: rotateY(180deg);
background: #f9f9fa;
}

.client-back-title {
font-weight: bold;
position: absolute;
top: 60px;
left: 0;
right: 0;
text-align: center;
}



